go 1.23

use (
	.
	./capi
	./cmd/kvlite
	./examples/basic
	./extensions/http
	./extensions/leveldb
	./extensions/redis
	./extensions/rocksdb
)

replace github.com/webong/kvlite v0.1.0 => .
replace github.com/webong/kvlite/extensions/http v0.1.0 => ./extensions/http
replace github.com/webong/kvlite/extensions/leveldb v0.1.0 => ./extensions/leveldb
replace github.com/webong/kvlite/extensions/redis v0.1.0 => ./extensions/redis
replace github.com/webong/kvlite/extensions/rocksdb v0.1.0 => ./extensions/rocksdb
